@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;900&display=swap");
::before,
::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Prompt", sans-serif;
  background: #f0efed;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@media (max-width: 799px) {
  nav .nav-container {
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1a2456;
    height: auto;
    max-width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  nav .logo {
    color: #ba9b9c;
    letter-spacing: 5px;
  }
  nav .nav-links ul {
    transition: all 0.7s linear;
    transform: translateX(100%);
    background-color: #1a2456;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1;
    top: 55;
  }
  nav .nav-links ul .links {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 300;
    color: #ba9b9c;
    margin-left: 50px;
    padding-top: 15px;
    margin-top: 15px;
  }
  nav .nav-links ul .links .fa-shopping-bag {
    color: #ba9b9c;
    font-size: 20px;
    padding-bottom: 20px;
  }
  nav .nav-links .show-sidebar {
    transform: translateX(0);
  }
  nav .fa-bars {
    font-size: 20px;
    color: #ba9b9c;
    cursor: pointer;
    transition: all 0.5s linear;
  }
  nav .fa-bars:hover {
    transform: rotate(90deg);
  }
  nav .fa-times {
    display: none;
    color: #ba9b9c;
    font-size: 20px;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  nav .close-btn {
    display: block;
  }
  nav .hide-btn {
    display: none;
  }
  nav .fa-times:hover {
    transform: rotate(360deg);
  }
}
@media (max-width: 375px) {
  main section .creative-packs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main section .creative-packs .flex-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }
  main section .creative-packs .flex-container .img img {
    max-width: 80vw;
    max-height: 50vh;
  }
  main section .creative-packs .flex-container .left-item,
main section .creative-packs .flex-container .right-item {
    position: relative;
    margin: 30px 0;
  }
  main section .creative-packs .flex-container .left-item .img-hover,
main section .creative-packs .flex-container .right-item .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.2s;
  }
  main section .creative-packs .flex-container .left-item .p-flex,
main section .creative-packs .flex-container .right-item .p-flex {
    display: flex;
    justify-content: space-between;
  }
  main section .creative-packs .flex-container .left-item .p-flex a,
main section .creative-packs .flex-container .right-item .p-flex a {
    margin-top: 10px;
  }
  main section .creative-packs .flex-container .left-item .p-flex a p,
main section .creative-packs .flex-container .right-item .p-flex a p {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1a2456;
  }
  main section .creative-packs .flex-container .left-item .p-flex a p:hover,
main section .creative-packs .flex-container .right-item .p-flex a p:hover {
    color: #080b1b;
  }
  main section .creative-packs .flex-container .left-item .p-flex .sprice,
main section .creative-packs .flex-container .right-item .p-flex .sprice {
    position: relative;
  }
  main section .creative-packs .flex-container .left-item .p-flex .sprice .price,
main section .creative-packs .flex-container .right-item .p-flex .sprice .price {
    position: absolute;
    top: 4;
    right: 1;
  }
  main section .creative-packs .flex-container .left-item .p-flex .sprice .shop,
main section .creative-packs .flex-container .right-item .p-flex .sprice .shop {
    background: #1a2456;
    color: #f0efed;
    padding: 4px;
    font-weight: 400;
    font-size: 12px;
    border-radius: 20px;
    position: relative;
    right: 1;
    top: 10;
    opacity: 0;
    transition: opacity 0.2s;
  }
  main section .creative-packs .flex-container .left-item .p-flex .sprice .shop:hover,
main section .creative-packs .flex-container .right-item .p-flex .sprice .shop:hover {
    background: #080b1b;
  }
  main section .creative-packs .flex-container .left-item .desc p,
main section .creative-packs .flex-container .right-item .desc p {
    color: #1a2456;
    font-weight: 200;
    font-size: 13px;
  }
  main section .creative-packs .flex-container .left-item .desc p:hover,
main section .creative-packs .flex-container .right-item .desc p:hover {
    color: #080b1b;
  }
  main section .creative-packs .flex-container .left-item:hover .img-hover,
main section .creative-packs .flex-container .right-item:hover .img-hover {
    opacity: 1;
  }
  main section .creative-packs .flex-container .left-item:hover .p-flex .sprice .shop,
main section .creative-packs .flex-container .right-item:hover .p-flex .sprice .shop {
    opacity: 1;
  }
  main section .creative-packs .banner {
    position: relative;
  }
  main section .creative-packs .banner img {
    max-width: 80vw;
    max-height: 50vh;
  }
  main section .creative-packs .banner .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s;
  }
  main section .creative-packs .banner .banner-desc-flex {
    display: flex;
    justify-content: space-between;
  }
  main section .creative-packs .banner .banner-desc-flex a {
    margin-top: 10px;
  }
  main section .creative-packs .banner .banner-desc-flex a p {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1a2456;
  }
  main section .creative-packs .banner .banner-desc-flex a p:hover {
    color: #080b1b;
  }
  main section .creative-packs .banner .banner-desc-flex .sprice {
    position: relative;
  }
  main section .creative-packs .banner .banner-desc-flex .sprice .price {
    position: absolute;
    top: 4;
    right: 30;
  }
  main section .creative-packs .banner .banner-desc-flex .sprice .shop {
    background: #1a2456;
    color: #f0efed;
    padding: 4px;
    width: 100px;
    font-weight: 400;
    font-size: 12px;
    border-radius: 20px;
    position: relative;
    top: 10;
    opacity: 0;
    transition: opacity 0.2s;
  }
  main section .creative-packs .banner .banner-desc-flex .sprice .shop:hover {
    background: #080b1b;
  }
  main section .creative-packs .banner .desc p {
    color: #1a2456;
    font-weight: 200;
    font-size: 13px;
  }
  main section .creative-packs .banner .desc p:hover {
    color: #080b1b;
  }
  main section .creative-packs .banner:hover .img-hover {
    opacity: 1;
  }
  main section .creative-packs .banner:hover .banner-desc-flex .sprice .shop {
    opacity: 1;
  }
}
@media (max-width: 999px) {
  main section .creative-packs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main section .creative-packs .flex-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }
  main section .creative-packs .flex-container .img img {
    max-width: 80vw;
    max-height: 50vh;
  }
  main section .creative-packs .flex-container .left-item,
main section .creative-packs .flex-container .right-item {
    position: relative;
    margin: 30px 0;
  }
  main section .creative-packs .flex-container .left-item .img-hover,
main section .creative-packs .flex-container .right-item .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.2s;
  }
  main section .creative-packs .flex-container .left-item .p-flex,
main section .creative-packs .flex-container .right-item .p-flex {
    display: flex;
    justify-content: space-between;
  }
  main section .creative-packs .flex-container .left-item .p-flex a,
main section .creative-packs .flex-container .right-item .p-flex a {
    margin-top: 10px;
  }
  main section .creative-packs .flex-container .left-item .p-flex a p,
main section .creative-packs .flex-container .right-item .p-flex a p {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1a2456;
  }
  main section .creative-packs .flex-container .left-item .p-flex a p:hover,
main section .creative-packs .flex-container .right-item .p-flex a p:hover {
    color: #080b1b;
  }
  main section .creative-packs .flex-container .left-item .p-flex .sprice,
main section .creative-packs .flex-container .right-item .p-flex .sprice {
    position: relative;
  }
  main section .creative-packs .flex-container .left-item .p-flex .sprice .price,
main section .creative-packs .flex-container .right-item .p-flex .sprice .price {
    position: absolute;
    top: 4;
    right: 1;
  }
  main section .creative-packs .flex-container .left-item .p-flex .sprice .shop,
main section .creative-packs .flex-container .right-item .p-flex .sprice .shop {
    background: #1a2456;
    color: #f0efed;
    padding: 6px;
    font-weight: 400;
    font-size: 12px;
    border-radius: 20px;
    position: relative;
    right: 1;
    top: 10;
    opacity: 0;
    transition: opacity 0.2s;
  }
  main section .creative-packs .flex-container .left-item .p-flex .sprice .shop:hover,
main section .creative-packs .flex-container .right-item .p-flex .sprice .shop:hover {
    background: #080b1b;
  }
  main section .creative-packs .flex-container .left-item .desc p,
main section .creative-packs .flex-container .right-item .desc p {
    color: #1a2456;
    font-weight: 200;
    font-size: 13px;
  }
  main section .creative-packs .flex-container .left-item .desc p:hover,
main section .creative-packs .flex-container .right-item .desc p:hover {
    color: #080b1b;
  }
  main section .creative-packs .flex-container .left-item:hover .img-hover,
main section .creative-packs .flex-container .right-item:hover .img-hover {
    opacity: 1;
  }
  main section .creative-packs .flex-container .left-item:hover .p-flex .sprice .shop,
main section .creative-packs .flex-container .right-item:hover .p-flex .sprice .shop {
    opacity: 1;
  }
  main section .creative-packs .banner {
    position: relative;
  }
  main section .creative-packs .banner img {
    max-width: 80vw;
    max-height: 50vh;
  }
  main section .creative-packs .banner .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s;
  }
  main section .creative-packs .banner .banner-desc-flex {
    display: flex;
    justify-content: space-between;
  }
  main section .creative-packs .banner .banner-desc-flex a {
    margin-top: 10px;
  }
  main section .creative-packs .banner .banner-desc-flex a p {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1a2456;
  }
  main section .creative-packs .banner .banner-desc-flex a p:hover {
    color: #080b1b;
  }
  main section .creative-packs .banner .banner-desc-flex .sprice {
    position: relative;
  }
  main section .creative-packs .banner .banner-desc-flex .sprice .price {
    position: absolute;
    top: 4;
    right: 1;
  }
  main section .creative-packs .banner .banner-desc-flex .sprice .shop {
    background: #1a2456;
    color: #f0efed;
    padding: 6px;
    font-weight: 400;
    font-size: 12px;
    border-radius: 20px;
    position: relative;
    right: 1;
    top: 10;
    opacity: 0;
    transition: opacity 0.2s;
  }
  main section .creative-packs .banner .banner-desc-flex .sprice .shop:hover {
    background: #080b1b;
  }
  main section .creative-packs .banner .desc p {
    color: #1a2456;
    font-weight: 200;
    font-size: 13px;
  }
  main section .creative-packs .banner .desc p:hover {
    color: #080b1b;
  }
  main section .creative-packs .banner:hover .img-hover {
    opacity: 1;
  }
  main section .creative-packs .banner:hover .banner-desc-flex .sprice .shop {
    opacity: 1;
  }
}
@media (min-width: 800px) {
  nav .nav-container {
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1a2456;
    height: auto;
    max-width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  nav .logo {
    color: #ba9b9c;
    letter-spacing: 5px;
  }
  nav .nav-links ul {
    display: flex;
    text-align: center;
    align-items: center;
  }
  nav .nav-links ul .links {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 300;
    color: #ba9b9c;
    margin-left: 50px;
  }
  nav .nav-links ul .links .fa-shopping-bag {
    color: #ba9b9c;
    font-size: 20px;
  }
  nav .fa-bars {
    display: none;
  }
  nav .fa-times {
    display: none;
  }
}
@media (max-width: 3000px) {
  header .slideshow-container {
    z-index: -10000;
    /* Fading animation */
  }
  header .slideshow-container .mySlides img {
    max-height: 90vh;
    width: 100%;
  }
  header .slideshow-container .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }

  .active {
    background-color: #717171;
  }
}
@media (max-width: 540px) {
  header .slideshow-container {
    z-index: -10000;
    /* Fading animation */
  }
  header .slideshow-container .mySlides img {
    height: 300px;
    width: 100%;
  }
  header .slideshow-container .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }

  .active {
    background-color: #717171;
  }
}
@media (max-width: 350px) {
  header .slideshow-container {
    z-index: -10000;
    /* Fading animation */
  }
  header .slideshow-container .mySlides img {
    height: 250px;
    width: 100%;
  }
  header .slideshow-container .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }

  .active {
    background-color: #717171;
  }
}
@media (min-width: 1000px) {
  main section .creative-packs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main section .creative-packs .flex-container {
    display: flex;
  }
  main section .creative-packs .flex-container .img .img1 {
    padding: auto;
    margin: auto;
    width: 100%;
    max-height: 50vh;
  }
  main section .creative-packs .flex-container .left-item,
main section .creative-packs .flex-container .right-item {
    position: relative;
    margin: 15px;
    padding: 15px;
  }
  main section .creative-packs .flex-container .left-item .img-hover,
main section .creative-packs .flex-container .right-item .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.2s;
  }
  main section .creative-packs .flex-container .left-item .p-flex,
main section .creative-packs .flex-container .right-item .p-flex {
    display: flex;
    justify-content: space-between;
  }
  main section .creative-packs .flex-container .left-item .p-flex a,
main section .creative-packs .flex-container .right-item .p-flex a {
    margin-top: 10px;
  }
  main section .creative-packs .flex-container .left-item .p-flex a p,
main section .creative-packs .flex-container .right-item .p-flex a p {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1a2456;
    transition: all 0.3s linear;
  }
  main section .creative-packs .flex-container .left-item .p-flex a p:hover,
main section .creative-packs .flex-container .right-item .p-flex a p:hover {
    color: #080b1b;
  }
  main section .creative-packs .flex-container .left-item .p-flex .sprice,
main section .creative-packs .flex-container .right-item .p-flex .sprice {
    position: relative;
  }
  main section .creative-packs .flex-container .left-item .p-flex .sprice .price,
main section .creative-packs .flex-container .right-item .p-flex .sprice .price {
    position: absolute;
    top: 4;
    right: 1;
  }
  main section .creative-packs .flex-container .left-item .p-flex .sprice .shop,
main section .creative-packs .flex-container .right-item .p-flex .sprice .shop {
    background: #1a2456;
    color: #f0efed;
    padding: 10px;
    font-weight: 400;
    font-size: 12px;
    border-radius: 20px;
    position: relative;
    right: 1;
    top: 10;
    opacity: 0;
    transition: opacity 0.2s;
  }
  main section .creative-packs .flex-container .left-item .p-flex .sprice .shop:hover,
main section .creative-packs .flex-container .right-item .p-flex .sprice .shop:hover {
    background: #080b1b;
  }
  main section .creative-packs .flex-container .left-item .desc p,
main section .creative-packs .flex-container .right-item .desc p {
    color: #1a2456;
    font-weight: 200;
    font-size: 13px;
    transition: all 0.3s linear;
  }
  main section .creative-packs .flex-container .left-item .desc p:hover,
main section .creative-packs .flex-container .right-item .desc p:hover {
    color: #080b1b;
  }
  main section .creative-packs .flex-container .left-item:hover .img-hover,
main section .creative-packs .flex-container .right-item:hover .img-hover {
    opacity: 1;
  }
  main section .creative-packs .flex-container .left-item:hover .p-flex .sprice .shop,
main section .creative-packs .flex-container .right-item:hover .p-flex .sprice .shop {
    opacity: 1;
  }
  main section .creative-packs .banner {
    position: relative;
  }
  main section .creative-packs .banner img {
    width: 1050px;
    height: 414px;
    object-fit: cover;
  }
  main section .creative-packs .banner .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s;
  }
  main section .creative-packs .banner .banner-desc-flex {
    display: flex;
    justify-content: space-between;
  }
  main section .creative-packs .banner .banner-desc-flex a {
    margin-top: 10px;
  }
  main section .creative-packs .banner .banner-desc-flex a p {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1a2456;
  }
  main section .creative-packs .banner .banner-desc-flex a p:hover {
    color: #080b1b;
  }
  main section .creative-packs .banner .banner-desc-flex .sprice {
    position: relative;
  }
  main section .creative-packs .banner .banner-desc-flex .sprice .price {
    position: absolute;
    top: 4;
    right: 1;
  }
  main section .creative-packs .banner .banner-desc-flex .sprice .shop {
    background: #1a2456;
    color: #f0efed;
    padding: 10px;
    font-weight: 400;
    font-size: 12px;
    border-radius: 20px;
    position: relative;
    right: 1;
    top: 10;
    opacity: 0;
    transition: opacity 0.2s;
  }
  main section .creative-packs .banner .banner-desc-flex .sprice .shop:hover {
    background: #080b1b;
  }
  main section .creative-packs .banner .desc p {
    color: #1a2456;
    font-weight: 200;
    font-size: 13px;
  }
  main section .creative-packs .banner .desc p:hover {
    color: #080b1b;
  }
  main section .creative-packs .banner:hover .img-hover {
    opacity: 1;
  }
  main section .creative-packs .banner:hover .banner-desc-flex .sprice .shop {
    opacity: 1;
  }
}
@media (max-width: 3000px) {
  main section .item-banner {
    padding-top: 30px;
  }
  main section .item-banner .middle-banner {
    width: 100%;
    height: 462px;
    object-fit: cover;
  }
}
section .add-ons-container .bottom-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .add-ons-container .bottom-items .btm {
  margin-bottom: 7px;
  margin-left: 7px;
  padding: 20px;
}
section .add-ons-container img {
  width: 430px;
  height: 340px;
  padding: 20px;
}
section .add-ons-container .top-items .first-flex,
section .add-ons-container .top-items .second-flex {
  position: relative;
}
section .add-ons-container .top-items .first-flex .add-hover,
section .add-ons-container .top-items .second-flex .add-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

@media (min-width: 1000px) {
  footer .footer-container {
    background: #1a2456;
    margin-top: 10vh;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 10vh;
    color: #ba9b9c;
  }
  footer .footer-container li {
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 5px;
    text-transform: capitalize;
    width: 90px;
  }
  footer .footer-container a {
    color: #ba9b9c;
  }
  footer .footer-container a li:hover {
    border-bottom: 1px solid #ff501c;
    color: #ff501c;
  }
  footer .footer-container h3 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  footer .footer-container p {
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 5px;
    max-width: 25vw;
  }
  footer .footer-container .subscribe label .f-label input {
    background: none;
    border: 1px solid #ba9b9c;
    padding: 5px;
    outline: none;
    color: #ba9b9c;
  }
  footer .footer-container .subscribe label .f-label button {
    background: #ba9b9c;
    padding: 5px;
    font-size: 12px;
    font-weight: 800;
    color: #333;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    width: 100px;
    transition: all 0.2s linear;
  }
  footer .footer-container .subscribe label .f-label button:hover {
    background: white;
  }
  footer .footer-container .subscribe .social-link ul {
    display: flex;
    margin: 10px 0;
  }
  footer .footer-container .subscribe .social-link ul a {
    margin-right: 10px;
    width: 50px;
  }
  footer .footer-container .subscribe .social-link ul a li i {
    font-size: 16px;
    background: white;
    padding: 10px;
    border-radius: 100%;
  }
  footer .footer-container .subscribe .social-link ul a li:hover {
    border-bottom: none;
  }
  footer .footer-container .red {
    color: #ff501c;
  }
  footer .footer-container .red:hover {
    border-bottom: 1px solid;
    color: #ff8b68;
  }
}
@media (max-width: 999px) {
  footer .footer-container {
    background: #1a2456;
    margin-top: 10vh;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 10vh;
    color: #ba9b9c;
  }
  footer .footer-container li {
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 5px;
    text-transform: capitalize;
    width: 90px;
  }
  footer .footer-container a {
    color: #ba9b9c;
  }
  footer .footer-container a li:hover {
    border-bottom: 1px solid #ff501c;
    color: #ff501c;
  }
  footer .footer-container h3 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-top: 20px;
  }
  footer .footer-container p {
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 5px;
  }
  footer .footer-container .subscribe label .f-label input {
    background: none;
    border: 1px solid #ba9b9c;
    padding: 5px;
    outline: none;
    color: #ba9b9c;
    width: 70%;
  }
  footer .footer-container .subscribe label .f-label button {
    background: #ba9b9c;
    padding: 5px;
    font-size: 12px;
    font-weight: 800;
    color: #333;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    width: 100px;
    transition: all 0.2s linear;
  }
  footer .footer-container .subscribe label .f-label button:hover {
    background: white;
  }
  footer .footer-container .subscribe .social-link ul {
    display: flex;
    margin: 10px 0;
  }
  footer .footer-container .subscribe .social-link ul a {
    margin-right: 10px;
    width: 50px;
  }
  footer .footer-container .subscribe .social-link ul a li i {
    font-size: 16px;
    background: white;
    padding: 10px;
    border-radius: 100%;
  }
  footer .footer-container .subscribe .social-link ul a li:hover {
    border-bottom: none;
  }
  footer .footer-container .red {
    color: #ff501c;
  }
  footer .footer-container .red:hover {
    border-bottom: 1px solid;
    color: #ff8b68;
  }
}