@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;900&display=swap");

$ff: "Prompt", sans-serif;
$text-color: #ff501c;
$text-color-2: #ff8b68;
$nav-bar-bg: #1a2456;
$body-bg: #f0efed;
$black-color: #080b1b;
$text-color-3: rgb(186, 155, 156);
