@media (min-width: 1000px) {
  main {
    section {
      .creative-packs {
        display: flex;
        flex-direction: column;
        align-items: center;
        .flex-container {
          display: flex;

          .img {
            a {
              .img1 {
                padding: auto;
                margin: auto;
                width: 100%;
                max-height: 50vh;
              }
            }
          }

          .left-item,
          .right-item {
            position: relative;
            margin: 15px;
            padding: 15px;

            .img-hover {
              position: absolute;
              top: 0;
              // bottom: 0;
              left: 0;
              right: 0;
              object-fit: contain;
              opacity: 0;
              transition: opacity 0.2s;
            }

            .p-flex {
              display: flex;
              justify-content: space-between;

              a {
                margin-top: 10px;

                p {
                  font-size: 20px;
                  font-weight: 700;
                  text-transform: uppercase;
                  letter-spacing: 2px;
                  color: $nav-bar-bg;
                  transition: all 0.3s linear;
                }

                p:hover {
                  color: $black-color;
                }
              }

              .sprice {
                position: relative;

                .price {
                  position: absolute;
                  top: 4;
                  right: 1;
                }

                .shop {
                  background: #1a2456;
                  color: #f0efed;
                  padding: 10px;
                  font-weight: 400;
                  font-size: 12px;
                  border-radius: 20px;
                  position: relative;
                  right: 1;
                  top: 10;
                  opacity: 0;
                  transition: opacity 0.2s;
                }

                .shop:hover {
                  background: $black-color;
                }
              }
            }

            .desc {
              p {
                color: $nav-bar-bg;
                font-weight: 200;
                font-size: 13px;
                transition: all 0.3s linear;
              }
              p:hover {
                color: $black-color;
              }
            }
          }
          .left-item:hover .img-hover,
          .right-item:hover .img-hover {
            opacity: 1;
          }

          .left-item:hover .p-flex .sprice .shop,
          .right-item:hover .p-flex .sprice .shop {
            opacity: 1;
          }
        }
        .banner {
          position: relative;

          // a {
          img {
            width: 1050px;
            height: 414px;
            object-fit: cover;
          }
          .img-hover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity 0.2s;
          }
          // }
          .banner-desc-flex {
            display: flex;
            justify-content: space-between;

            a {
              margin-top: 10px;
              p {
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;

                color: $nav-bar-bg;
              }
              p:hover {
                color: $black-color;
              }
            }
            .sprice {
              position: relative;

              .price {
                position: absolute;
                top: 4;
                right: 1;
              }

              .shop {
                background: $nav-bar-bg;
                color: $body-bg;
                padding: 10px;
                font-weight: 400;
                font-size: 12px;
                border-radius: 20px;
                position: relative;
                right: 1;
                top: 10;
                opacity: 0;
                transition: opacity 0.2s;
              }

              .shop:hover {
                background: $black-color;
              }
            }
          }

          .desc {
            p {
              color: $nav-bar-bg;
              font-weight: 200;
              font-size: 13px;
            }

            p:hover {
              color: $black-color;
            }
          }
        }
        .banner:hover .img-hover {
          opacity: 1;
        }

        .banner:hover .banner-desc-flex .sprice .shop {
          opacity: 1;
        }
      }
    }
  }
}
