@media (max-width: 799px) {
  nav {
    .nav-container {
      z-index: 100000;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: $nav-bar-bg;

      height: auto;
      max-width: 100%;
      margin: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
    .logo {
      color: $text-color-3;
      letter-spacing: 5px;
    }
    .nav-links {
      ul {
        transition: all 0.7s linear;
        transform: translateX(100%);
        background-color: $nav-bar-bg;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 1;
        top: 55;

        .links {
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 16px;
          font-weight: 300;
          color: $text-color-3;
          margin-left: 50px;
          padding-top: 15px;
          margin-top: 15px;
          .fa-shopping-bag {
            color: $text-color-3;
            font-size: 20px;
            padding-bottom: 20px;
          }
        }
      }
      .show-sidebar {
        transform: translateX(0);
      }
    }
    .fa-bars {
      font-size: 20px;
      color: $text-color-3;
      cursor: pointer;
      transition: all 0.5s linear;
    }

    .fa-bars:hover {
      transform: rotate(90deg);
    }
    .fa-times {
      display: none;
      color: $text-color-3;
      font-size: 20px;
      transition: all 0.3s linear;
      cursor: pointer;
    }
    .close-btn {
      display: block;
    }
    .hide-btn {
      display: none;
    }

    .fa-times:hover {
      transform: rotate(360deg);
    }
  }
}

@media (max-width: 375px) {
  main {
    // padding-top: 15rem;
    section {
      .creative-packs {
        display: flex;
        flex-direction: column;
        align-items: center;

        .flex-container {
          display: flex;
          flex-direction: column;
          padding: 20px;
          align-items: center;

          .img {
            a {
              img {
                max-width: 80vw;
                max-height: 50vh;
              }
              img:hover {
                background-image: "/assets/monogram/items.png";
              }
            }
          }
          .left-item,
          .right-item {
            position: relative;
            margin: 30px 0;

            .img-hover {
              position: absolute;
              top: 0;
              // bottom: 0;
              left: 0;
              right: 0;
              object-fit: contain;
              opacity: 0;
              transition: opacity 0.2s;
            }

            .p-flex {
              display: flex;
              justify-content: space-between;

              a {
                margin-top: 10px;
                p {
                  font-size: 20px;
                  font-weight: 700;
                  text-transform: uppercase;
                  letter-spacing: 2px;
                  color: $nav-bar-bg;
                }

                p:hover {
                  color: $black-color;
                }
              }

              .sprice {
                position: relative;

                .price {
                  position: absolute;
                  top: 4;
                  right: 1;
                }

                .shop {
                  background: #1a2456;
                  color: #f0efed;
                  padding: 4px;
                  font-weight: 400;
                  font-size: 12px;
                  border-radius: 20px;
                  position: relative;
                  right: 1;
                  top: 10;
                  opacity: 0;
                  transition: opacity 0.2s;
                }

                .shop:hover {
                  background: $black-color;
                }
              }
            }

            .desc {
              p {
                color: $nav-bar-bg;
                font-weight: 200;
                font-size: 13px;
              }

              p:hover {
                color: $black-color;
              }
            }
          }

          .left-item:hover .img-hover,
          .right-item:hover .img-hover {
            opacity: 1;
          }

          .left-item:hover .p-flex .sprice .shop,
          .right-item:hover .p-flex .sprice .shop {
            opacity: 1;
          }
        }
        .banner {
          position: relative;
          // a {
          img {
            max-width: 80vw;
            max-height: 50vh;
          }

          .img-hover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity 0.2s;
          }
          // }
          .banner-desc-flex {
            display: flex;
            justify-content: space-between;

            a {
              margin-top: 10px;
              p {
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;

                color: $nav-bar-bg;
              }

              p:hover {
                color: $black-color;
              }
            }

            .sprice {
              position: relative;

              .price {
                position: absolute;
                top: 4;
                right: 30;
              }

              .shop {
                background: $nav-bar-bg;
                color: $body-bg;
                padding: 4px;
                width: 100px;
                font-weight: 400;
                font-size: 12px;
                border-radius: 20px;
                position: relative;

                top: 10;
                opacity: 0;
                transition: opacity 0.2s;
              }

              .shop:hover {
                background: $black-color;
              }
            }
          }

          .desc {
            p {
              color: $nav-bar-bg;
              font-weight: 200;
              font-size: 13px;
            }

            p:hover {
              color: $black-color;
            }
          }
        }
        .banner:hover .img-hover {
          opacity: 1;
        }

        .banner:hover .banner-desc-flex .sprice .shop {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 999px) {
  main {
    // padding-top: 15rem;
    section {
      .creative-packs {
        display: flex;
        flex-direction: column;
        align-items: center;

        .flex-container {
          display: flex;
          flex-direction: column;
          padding: 20px;
          align-items: center;

          .img {
            a {
              img {
                max-width: 80vw;
                max-height: 50vh;
              }
              img:hover {
                background-image: "/assets/monogram/items.png";
              }
            }
          }
          .left-item,
          .right-item {
            position: relative;
            margin: 30px 0;

            .img-hover {
              position: absolute;
              top: 0;
              // bottom: 0;
              left: 0;
              right: 0;
              object-fit: contain;
              opacity: 0;
              transition: opacity 0.2s;
            }

            .p-flex {
              display: flex;
              justify-content: space-between;

              a {
                margin-top: 10px;
                p {
                  font-size: 20px;
                  font-weight: 700;
                  text-transform: uppercase;
                  letter-spacing: 2px;
                  color: $nav-bar-bg;
                }

                p:hover {
                  color: $black-color;
                }
              }

              .sprice {
                position: relative;

                .price {
                  position: absolute;
                  top: 4;
                  right: 1;
                }

                .shop {
                  background: #1a2456;
                  color: #f0efed;
                  padding: 6px;
                  font-weight: 400;
                  font-size: 12px;
                  border-radius: 20px;
                  position: relative;
                  right: 1;
                  top: 10;
                  opacity: 0;
                  transition: opacity 0.2s;
                }

                .shop:hover {
                  background: $black-color;
                }
              }
            }

            .desc {
              p {
                color: $nav-bar-bg;
                font-weight: 200;
                font-size: 13px;
              }

              p:hover {
                color: $black-color;
              }
            }
          }

          .left-item:hover .img-hover,
          .right-item:hover .img-hover {
            opacity: 1;
          }

          .left-item:hover .p-flex .sprice .shop,
          .right-item:hover .p-flex .sprice .shop {
            opacity: 1;
          }
        }
        .banner {
          position: relative;
          // a {
          img {
            max-width: 80vw;
            max-height: 50vh;
          }

          .img-hover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition: opacity 0.2s;
          }
          // }
          .banner-desc-flex {
            display: flex;
            justify-content: space-between;

            a {
              margin-top: 10px;
              p {
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;

                color: $nav-bar-bg;
              }

              p:hover {
                color: $black-color;
              }
            }

            .sprice {
              position: relative;

              .price {
                position: absolute;
                top: 4;
                right: 1;
              }

              .shop {
                background: $nav-bar-bg;
                color: $body-bg;
                padding: 6px;
                font-weight: 400;
                font-size: 12px;
                border-radius: 20px;
                position: relative;
                right: 1;
                top: 10;
                opacity: 0;
                transition: opacity 0.2s;
              }

              .shop:hover {
                background: $black-color;
              }
            }
          }

          .desc {
            p {
              color: $nav-bar-bg;
              font-weight: 200;
              font-size: 13px;
            }

            p:hover {
              color: $black-color;
            }
          }
        }
        .banner:hover .img-hover {
          opacity: 1;
        }

        .banner:hover .banner-desc-flex .sprice .shop {
          opacity: 1;
        }
      }
    }
  }
}

// @media (max-width: 375px) {
//   main {
//     // padding-top: 15rem;
//     section {
//       .creative-packs {
//         display: flex;
//         flex-direction: column;
//         align-items: center;

//         .flex-container {
//           display: flex;
//           flex-direction: column;
//           padding: 20px;
//           align-items: center;

//           .img {
//             a {
//               img {
//                 max-width: 80vw;
//                 max-height: 50vh;
//               }
//               img:hover {
//                 background-image: "/assets/monogram/items.png";
//               }
//             }
//           }
//           .left-item,
//           .right-item {
//             position: relative;
//             margin: 30px 0;

//             .img-hover {
//               position: absolute;
//               top: 0;
//               // bottom: 0;
//               left: 0;
//               right: 0;
//               object-fit: contain;
//               opacity: 0;
//               transition: opacity 0.2s;
//             }

//             .p-flex {
//               display: flex;
//               justify-content: space-between;

//               a {
//                 margin-top: 10px;
//                 p {
//                   font-size: 20px;
//                   font-weight: 700;
//                   text-transform: uppercase;
//                   letter-spacing: 2px;
//                   color: $nav-bar-bg;
//                 }

//                 p:hover {
//                   color: $black-color;
//                 }
//               }

//               .sprice {
//                 position: relative;

//                 .price {
//                   position: absolute;
//                   top: 4;
//                   right: 1;
//                 }

//                 .shop {
//                   background: #1a2456;
//                   color: #f0efed;
//                   padding: 10px;
//                   font-weight: 400;
//                   font-size: 12px;
//                   border-radius: 20px;
//                   position: relative;
//                   right: 1;
//                   top: 10;
//                   opacity: 0;
//                   transition: opacity 0.2s;
//                 }

//                 .shop:hover {
//                   background: $black-color;
//                 }
//               }
//             }

//             .desc {
//               p {
//                 color: $nav-bar-bg;
//                 font-weight: 200;
//                 font-size: 13px;
//               }

//               p:hover {
//                 color: $black-color;
//               }
//             }
//           }

//           .left-item:hover .img-hover,
//           .right-item:hover .img-hover {
//             opacity: 1;
//           }

//           .left-item:hover .p-flex .sprice .shop,
//           .right-item:hover .p-flex .sprice .shop {
//             opacity: 1;
//           }
//         }
//         .banner {
//           position: relative;
//           a {
//             img {
//               max-width: 80vw;
//               max-height: 50vh;
//             }

//             .img-hover {
//               position: absolute;
//               top: 0;
//               left: 0;
//               right: 0;
//               bottom: 0;
//               opacity: 0;
//               transition: opacity 0.2s;
//             }
//           }
//           .banner-desc-flex {
//             display: flex;
//             justify-content: space-between;

//             a {
//               margin-top: 10px;
//               p {
//                 font-size: 20px;
//                 font-weight: 700;
//                 text-transform: uppercase;
//                 letter-spacing: 2px;

//                 color: $nav-bar-bg;
//               }

//               p:hover {
//                 color: $black-color;
//               }
//             }

//             .sprice {
//               position: relative;

//               .price {
//                 position: absolute;
//                 top: 4;
//                 right: ;
//               }

//               .shop {
//                 background: $nav-bar-bg;
//                 color: $body-bg;
//                 padding: 4px;
//                 width: 100px;
//                 font-weight: 400;
//                 font-size: 12px;
//                 border-radius: 20px;
//                 position: relative;

//                 top: 10;
//                 opacity: 0;
//                 transition: opacity 0.2s;
//               }

//               .shop:hover {
//                 background: $black-color;
//               }
//             }
//           }

//           .desc {
//             p {
//               color: $nav-bar-bg;
//               font-weight: 200;
//               font-size: 13px;
//             }

//             p:hover {
//               color: $black-color;
//             }
//           }
//         }
//         .banner:hover .img-hover {
//           opacity: 1;
//         }

//         .banner:hover .banner-desc-flex .sprice .shop {
//           opacity: 1;
//         }
//       }
//     }
//   }
// }
